{
  "root": true,
  "env": {
    "node": true,
    "jest": true
  },
  "plugins": ["@typescript-eslint", "prettier", "jest", "security"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:jest/recommended",
    "plugin:security/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-console": "warn",
    "no-throw-literal": "off",
    "@typescript-eslint/no-throw-literal": "warn",
    "jest/expect-expect": "off"
  }
}
